<app-hero title="Missões" subTitle="Departamento"></app-hero>
<section class="container-wrapper">
  <article class="container">
    <h3 class="construction">Grupo de Missões</h3>
    <p class="versiculo">
      <cite
        >"E disse-lhes: Ide por todo o mundo, pregai o evangelho a toda
        criatura."</cite
      >
      <br />Marcos 16.15
    </p>

    <div class="content-row">
      <div class="text-container">
        <h4>Quem Somos</h4>
        <p>
          Missões é o trabalho de proclamar o evangelho a quem ainda não
          conhece. Cremos que uma Igreja saudável deve priorizar o trabalho
          missionário.
        </p>
        <p>
          Todo o crente deve ter espírito missionário. Enquanto ainda estava
          aqui na terra, Jesus enviou seus discípulos para pregar o evangelho a
          todos os povos da terra (Marcos 16.15). Essa é a grande missão da
          Igreja que continua até hoje.
        </p>
        <p>
          Desenvolvemos projetos de apoio à comunidade e casas de recuperação,
          moradores de rua, etc. Pregando também em praças e nos lares,
          procuramos levar o Evangelho a toda a criatura.
        </p>
        <p>
          Esses projetos mostram a diferença que Jesus faz nas nossas vidas e
          abrem a porta para muitas conversas sobre Jesus. Pessoas que nunca
          entrariam dentro de uma igreja são salvas através desses projetos.
        </p>
        <p>
          Todo 3º domingo de cada mês realizamos em nossa igreja o Culto de
          Missões, destinado a fomentar e estimular o envolvimento na obra de
          Deus.
        </p>
      </div>
      <img
        src="../../../../assets/imgs/departamentos/missoes/missao-3.jpg"
        alt="Grupo de missões"
        class="photo"
      />
    </div>
    <img
      src="../../../../assets/imgs/departamentos/missoes/missao-2.jpg"
      alt="Grupo de missões"
      class="photo full-img"
    />
  </article>
</section>
