<app-hero title="Orquestra" subTitle="Departamento"></app-hero>
<section class="container-wrapper">
  <article class="container">
    <h3 class="construction">
      Orquestra
      <!-- <span style="font-weight: 800; opacity: 0.7; margin-left: 8px"
        >nome?</span
      > -->
    </h3>
    <p class="versiculo">
      <cite
        >"Louvai-o com o tamborim e a dança, louvai-o com instrumentos de cordas
        e com órgãos."</cite
      ><br />Salmos 150.4
    </p>

    <div class="content-row">
      <div class="text-container">
        <h4 style="margin-bottom: clamp(32px, 7vw, 48px)">Nosso objetivo</h4>
        <p style="margin-bottom: clamp(24px, 5vw, 38px)">
          Temos como objetivo a Adoração a Deus por meio de nossos instrumentos,
          além de querer alcançar vidas por meio da música com salvação,
          libertação e cura.
        </p>
        <p style="margin-bottom: clamp(24px, 5vw, 38px)">
          A Bíblia diz que Saul se sentia perturbado por um espírito mal e,
          quando Davi tocava sua harpa, sua alma ficava aliviada e se achava
          melhor. (1 Samuel 16.14-23) - O louvor inspirado pelo Espírito Santo
          pode realizar maravilhas!
        </p>
        <p>
          Com nosso trabalho queremos contribuir para o crescimento de nossa
          Igreja e Adorar a Deus, que é digno de todo louvor e adoração!
        </p>
      </div>
      <img
        src="../../../../assets/imgs/departamentos/orquestra/Orquestra-1.jpg"
        alt="Orquestra"
        class="photo"
      />
    </div>
    <div>
      <img
        src="../../../../assets/imgs/departamentos/orquestra/Orquestra-2.jpg"
        alt="Orquestra"
        class="photo full-img"
      />
    </div>
  </article>
</section>
