<app-hero title="Infantil" subTitle="Departamento"></app-hero>

<section class="container-wrapper">
  <article class="container">
    <h3 class="construction">
      Grupo Infantil
      <span style="font-weight: 800; opacity: 0.7; margin-left: 8px"
        >Amiguinhos de Jesus</span
      >
    </h3>
    <p class="versiculo">
      <cite>
        "Educa a criança no caminho em que deve andar; e até quando envelhecer
        não se desviará dele."</cite
      >
      <br />Provérbios 22.6
    </p>
    <div class="content-row">
      <div class="text-container">
        <h4>Quem Somos</h4>
        <p>
          O Ministério Infantil é o departamento da igreja responsável pelo
          ensino cristão voltado para as crianças que frequentam a igreja.
        </p>
        <p>
          Ele tem também a função de envolver a criança nas atividades da igreja
          e promover o compartilhamento e a vivência da vida cristã.
        </p>
        <div style="margin-top: clamp(16px, 3vw, 32px)">
          <h4>Nosso objetivo</h4>
          <p>
            Ensinar a Palavra de Deus às crianças; despertar a importância de
            ler a bíblia, orar, louvar e obedecer seus pais, entre outros.
          </p>
          <p>
            Transmitindo o conhecimento sobre Deus e a vida cristã para elas,
            buscamos desenvolver através desse conhecimento seu caráter.
          </p>
        </div>
      </div>
      <img
        src="../../../../assets/imgs/departamentos/infantil/infantil-2.jpg"
        alt="Grupo de crianças"
        class="photo"
      />
    </div>

    <img
      src="../../../../assets/imgs/departamentos/infantil/infantil-3.jpg"
      alt="Grupo de crianças"
      class="photo full-img"
    />
  </article>
</section>
