footer {
  animation: fadeEnter 3000ms ease both;
  background-color: #333;
  color: #ddd;
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: clamp(14px, 3vw, 20px);
    padding-bottom: clamp(14px, 3vw, 20px);
    gap: 16px;
    .footer-col-1 {
      display: flex;
      align-items: center;
      gap: clamp(7px, 2vw, 16px);
      flex-grow: 1;
      .logo {
        height: clamp(42px, 7vw, 70px);
      }
      .name-wrapper {
        h1 {
          font-family: "Bruno Ace SC", cursive;
          color: #ddd;
          font-size: clamp(18px, 3vw, 24px);
          line-height: clamp(18px, 3vw, 24px);
          margin: 0;
          transform: skewX(4deg);
        }
        p {
          color: #333;
          background: #ddd;
          transform: skewX(-10deg);
          display: inline-block;
          padding: 0 clamp(5px, 2vw, 10px);
          margin-bottom: clamp(1px, 1vw, 4px);
          margin-left: 2px;
          font-size: 10px;
          line-height: clamp(15px, 2vw, 18px);
          font-weight: 600;
          span {
            font-weight: 600;
          }
        }
      }
    }
    .footer-col-2 {
      h3 {
        font-family: "Montserrat", sans-serif;
        font-size: clamp(12px, 3vw, 14px);
        line-height: clamp(16px, 4vw, 22px);
        margin-bottom: 2px;
        text-align: right;
        font-weight: 600;
      }
      p {
        margin: 0;
        text-align: right;
        color: #ddd;
        font-size: clamp(11px, 3vw, 12px);
        line-height: clamp(16px, 3vw, 20px);
      }
    }
  }
}
.second-footer {
  background-color: #232323;
  .container {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    p {
      font-weight: 300;
      font-size: clamp(11px, 3vw, 12px);
      line-height: clamp(16px, 3vw, 20px);
      text-align: center;
      color: #ddd;
      opacity: 0.8;
      margin: 0 clamp(40px, 15vw, 80px);
      min-width: 230px;
    }
  }
}

@media (max-width: 650px) {
  .container {
    flex-direction: column !important;
    align-items: center;
    .footer-col-2 {
      p,
      h3 {
        text-align: center !important;
      }
    }
  }
}

@keyframes fadeEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
