<footer class="container-wrapper">
  <article class="container">
    <div class="footer-col-1">
      <img
        src="../../../../assets/imgs/logo.png"
        alt=""
        srcset=""
        class="logo"
      />
      <div class="name-wrapper">
        <p><span> AD </span> Belém</p>
        <h1>Vila Constância</h1>
      </div>
    </div>
    <div class="footer-col-2">
      <p>R. Tomás Teixeira, 443</p>
      <p>Vila Constância - São Paulo / SP</p>
      <p>CEP: 04658-020</p>
    </div>
  </article>
</footer>
<section class="second-footer">
  <article class="container">
    <p>2023 © AD Belém - Vila Constância. Todos os direitos reservados</p>
  </article>
</section>
