<app-hero title="Círculo de Oração" subTitle="Departamento"></app-hero>

<section class="container-wrapper">
  <article class="container">
    <h3 class="construction">
      Circulo de Oração
      <span style="font-weight: 800; opacity: 0.7; margin-left: 8px"
        >Rosa de Saron</span
      >
    </h3>
    <p class="versiculo">
      <cite>"A oração feita por um justo pode muito em seus efeitos."</cite
      ><br />Tiago 5.16
    </p>

    <div class="content-row">
      <div class="text-container">
        <h4>QUEM SOMOS</h4>

        <p style="margin-bottom: clamp(24px, 5vw, 48px)">
          O Grupo do Círculo de Oração da Congregação Vila Constância - setor
          08, nasceu em 1974 com o nome Rosa de Saron. Tem a cada dia vivido o
          melhor de Deus e proclamado o evangelho do Reino.
        </p>

        <h4>OBJETIVO</h4>

        <p style="margin-bottom: 24px">
          Além da dedicação em louvar a Deus, o Grupo Rosa de Saron tem se
          aplicado em visitar as pessoas doentes e que precisam de ajuda. As
          manhãs de terça-feira nunca são as mesmas, Deus tem operado
          grandemente no trabalho do grupo, trazendo benção especiais para cada
          participante.
        </p>
        <p>Sua participação no Grupo Rosa de Saron será uma honra!!!</p>
      </div>
    </div>
    <img
      src="../../../../assets/imgs/departamentos/senhoras/senhoras.jpg"
      alt="Circulo de Oração"
      class="photo full-img"
    />
  </article>
</section>
