@import "./assets/styles/normalize.scss";
@import "./assets/styles/theme.scss";
@import "bootstrap/scss/bootstrap";

// GENERAL -----------------
* {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  background-color: #f8f8f8;
  overflow-x: hidden;
}
body {
  margin: 0;
  button {
    font-family: "Montserrat", sans-serif !important;
  }
}
::ng-deep {
  .mdc-list-item__primary-text {
    font-family: "Montserrat", sans-serif !important;
  }
}
a {
  text-decoration: none;
}
.carousel-inner {
  box-shadow: 0 90px 42px -100px #00000050 !important;
}
.departMenu .mat-mdc-menu-content {
  min-width: 180px;
}
.carousel-indicators {
  margin-bottom: clamp(2px, 2vw, 16px) !important;
}
.construction {
  font-size: 18px;
  font-weight: 500;
  color: #aaa;
  text-align: center;
}
// LAYOUT -----------------

mat-menu button {
  font-family: "Montserrat", sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
  transition: 200ms ease all !important;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000023;
  border-radius: 3px;
  transition: 200ms ease all !important;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000043;
}

::-webkit-scrollbar-thumb:active {
  background: #1e73be;
}

.container-wrapper {
  animation: fadeEnter 700ms ease both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: clamp(24px, 3vw, 42px) clamp(21px, 3vw, 32px);

    .content-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: clamp(32px, 7vw, 200px);
      width: 100%;
      article {
        flex-grow: 1;
        min-width: 260px;
      }
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(18px, 2vw, 24px);
      letter-spacing: 3px;
      margin-bottom: clamp(16px, 3vw, 32px);
      font-weight: 600;
      color: #555;
      line-height: clamp(24px, 3vw, 32px);
    }
    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(15px, 2vw, 18px);
      line-height: clamp(21px, 3vw, 24px);
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: clamp(16px, 3vw, 32px);
      color: #1e73be;
    }

    table {
      width: 100%;
      border-radius: 4px;
      thead,
      tbody,
      tr,
      th,
      td {
        background: transparent;
      }
      .mat-chip-list-wrapper {
        gap: 8px;
        margin: 0 !important;
      }
    }
    thead {
      &:hover {
        background-color: white !important;
      }
      tr:hover {
        th {
          background-color: white !important;
          cursor: auto;
        }
      }
    }
  }
}

@keyframes fadeEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
