@import "./assets/styles/normalize.scss";
@import "./assets/styles/theme.scss";
@import "bootstrap/scss/bootstrap";

// GENERAL -----------------
* {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  background-color: #f8f8f8;
  overflow-x: hidden;
}
body {
  margin: 0;
  button {
    font-family: "Montserrat", sans-serif !important;
  }
}
::ng-deep {
  .mdc-list-item__primary-text {
    font-family: "Montserrat", sans-serif !important;
  }
}
a {
  text-decoration: none;
}
.content-row button.mdc-button--unelevated {
  display: flex;
  padding: 24px 42px !important;
}
.carousel-inner {
  box-shadow: 0 90px 42px -100px #00000050 !important;
}
@media (max-width: 520px) {
  .carousel-inner {
    box-shadow: 0 64px 23px -70px rgba(0, 0, 0, 0.19) !important;
  }
}

.departMenu .mat-mdc-menu-content {
  min-width: 180px;
}
.carousel-indicators {
  margin-bottom: clamp(2px, 2vw, 16px) !important;
}
.construction {
  font-size: 18px;
  font-weight: 500;
  color: #aaa;
  text-align: center;
}
// LAYOUT -----------------

.photo {
  border-radius: 5px;
  box-shadow: 1px 1px 7px #00000023;
  border: 7px solid white;
}

.versiculo {
  text-align: center;
  font-size: clamp(14px, 2vw, 16px);
  line-height: clamp(21px, 3vw, 32px);
  color: #555;
  font-weight: 500;
  margin: 8px 0 16px 0;
  cite {
    color: #777;
    line-height: clamp(21px, 3vw, 32px);
  }
}

mat-menu button {
  font-family: "Montserrat", sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
  transition: 200ms ease all !important;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000023;
  border-radius: 3px;
  transition: 200ms ease all !important;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000043;
}

::-webkit-scrollbar-thumb:active {
  background: #1e73be;
}

.container-wrapper {
  animation: fadeEnter 700ms ease both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: clamp(24px, 6vw, 72px) clamp(21px, 3vw, 32px);
    padding-bottom: clamp(24px, 7vw, 84px);

    .content-row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: clamp(32px, 7vw, 200px);
      width: 100%;
      article {
        flex-basis: 50%;
      }
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(21px, 3vw, 28px);
      letter-spacing: clamp(1px, 1vw, 3px);
      margin-bottom: clamp(16px, 5vw, 56px);
      font-weight: 600;
      color: #686868;
      line-height: clamp(28px, 3vw, 32px);
    }
    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(15px, 2vw, 18px);
      line-height: clamp(21px, 3vw, 32px);
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: clamp(16px, 3vw, 32px);
      color: #1e73be;
    }
    p {
      line-height: 22px;
    }
    // h4::after {
    //   display: block;
    //   content: "";
    //   margin-top: 10px;
    //   border-bottom: 1px solid #1e73be;
    // }

    table {
      width: 100%;
      border-radius: 4px;
      thead,
      tbody,
      tr,
      th,
      td {
        background: transparent;
      }
      .mat-chip-list-wrapper {
        gap: 8px;
        margin: 0 !important;
      }
    }
    thead {
      &:hover {
        background-color: white !important;
      }
      tr:hover {
        th {
          background-color: white !important;
          cursor: auto;
        }
      }
    }
  }
}

@keyframes fadeEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
