<div class="carousel-wrapper">
  <app-carousel></app-carousel>
</div>
<div class="container-wrapper sobre">
  <section class="container">Quem Somos e culto online</section>
</div>

<div class="container-wrapper horarios">
  <section class="container">Horarios</section>
</div>

<div class="container-wrapper departamentos">
  <section class="container">Departamentos</section>
</div>

<div class="container-wrapper contribua">
  <section class="container">Contribua</section>
</div>

<div class="container-wrapper maps" id="map">
  <section class="container">Maps</section>
</div>
