<app-hero title="Adolescentes" subTitle="Departamento"></app-hero>

<section class="container-wrapper">
  <article class="container">
    <h3 class="construction">
      Grupo de Adolescentes
      <span style="font-weight: 800; opacity: 0.7; margin-left: 8px"
        >nome do grupo</span
      >
    </h3>
    <p class="versiculo">
      <cite
        >"Jovens, eu escrevi a vocês, porque são fortes, e em vocês a Palavra de
        Deus permanece, e vocês venceram o Maligno."</cite
      ><br />1 João 2.14b
    </p>

    <div class="content-row">
      <div class="text-container">
        <h4>Quem Somos</h4>

        <p style="margin-bottom: 24px">
          Temos como objetivo a promoção da unidade, crescimento e
          desenvolvimento de nossos adolescentes. Com uma visão focada na
          orientação de uma geração transformadora e comprometida, desenvolvemos
          o trabalho nas congregações e no templo sede.
        </p>
        <p>
          Acreditamos que Deus está levantando uma geração diferente na Terra. O
          grande desafio é sermos tudo aquilo que Deus propôs que fôssemos.
          Venha fazer parte dessa história!
        </p>
      </div>
    </div>
    <img
      src="../../../../assets/imgs/departamentos/adolescentes/adolescentes.jpg"
      alt="Grupo de Adolescentes"
      class="photo full-img"
    />
  </article>
</section>
